* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Outfit", sans-serif;
  background-color: hsl(212, 45%, 89%);

  width: 100%;
  min-height: 100vh;
  display: grid;
}

main {
  display: flex;
  align-items: center;
  flex-direction: column;

  place-self: center;
}

.container {
  width: 32rem;
  height: 50rem;
  background-color: hsl(0, 0%, 100%);

  border-radius: 10px;
  box-shadow: 0 10px 40px hsl(220, 15%, 55%);
}

img {
  display: block;
  width: 100%;

  padding: 2rem;
  border-radius: 3rem;
}

.main-heading {
  font-weight: 700;
  color: hsl(218, 44%, 22%);
  padding: 1.5rem;
  text-align: center;
}

.sub-heading {
  font-weight: 400;
  font-size: 1.5rem;
  color: hsl(220, 15%, 55%);
  padding: 1.5rem;
  text-align: center;
}

.attribution {
  font-size: 1.5rem;
  text-align: center;
  margin-top: 1.5rem;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
